<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Open Healthcare Payments - Powered by Dragonglass</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/ico" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/css/base.css">

    {{content-for "head-footer"}}
  </head>

  <body>
    {{content-for "body"}}
    <div id="body"></div>
    <script src="assets/vendor.js"></script>
    <script src="assets/openpayments.js"></script>

    {{content-for "body-footer"}}
  </body>

</html>
