<div class="container">
    <div class="row">
        <div class="col-md-12 text-justify">
            <div class="page-header">
                <h1>Open Healthcare Payments</h1>
            </div>
            <p>This demo application uses payments to physicians and hospitals gathered by the healthcare manufacturers and group purchasing organizations as required by the Social Security Act.  The data is reported to the CMS who makes the data publicly available.</p>
            
            <p>Data used in this site comes from the CMS Open Payments 12/19/2014 Complete Open Payments dataset.   The General Payments with identifying information data is used in the application.  The complete and original data sets can be download at the <a href="http://www.cms.gov/OpenPayments/Explore-the-Data/Dataset-Downloads.html" target="_blank">CMS Open Payments site</a>.</p>
            
            <p>This Open Payments site was created to demonstrate DragonGlass’s capabilities to rapidly build search enabled applications.   If you’d like to provide feedback on the site please email us at <a href="mailto:demo-feedback@opencrowd.com" title="demo-feedback@opencrowd.com">demo-feedback@opencrowd.com</a>. Please visit <a href="http://www.dragonglass.me"  target="_blank"> DragonGlass.me</a> for more information on the DragonGlass platform.</p>
            
            <div class="alert alert-warning" role="alert">
                <p>
                    Disclaimer: Data is reported on this website in accordance with the statutory authority in Section 1128 G of the Social Security Act. CMS has an impartial role in the collection and reporting of data regarding payments or other transfers of value pursuant to Open Payments. The transparency display of transactions from applicable manufacturers and group purchasing organizations to physicians and teaching hospitals does not necessarily mean any of the reported financial relationships are improper.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
<h2>Queries:</h2>
<div>
    <h3>Top Physicians/Hospitals/Companies</h3>
    <code>GET /openpayments-v1-default/_search/</code> <br>
    <code>
{"size":0,"aggs":{"top_physicians":{"terms":{"field":"Physician_Name","size":10,"exclude":"","order":{"payments.sum":"desc"}},"aggs":{"payments":{"stats":{"field":"Total_Amount_of_Payment_USDollars"}}}},"top_hospitals":{"terms":{"field":"Teaching_Hospital_Name","exclude":"","order":{"payments.sum":"desc"}},"aggs":{"payments":{"stats":{"field":"Total_Amount_of_Payment_USDollars"}}}},"top_companies":{"terms":{"field":"Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name","exclude":"","order":{"payments.sum":"desc"}},"aggs":{"payments":{"stats":{"field":"Total_Amount_of_Payment_USDollars"}}}},"top_products":{"terms":{"field":"Name_of_Associated_Covered_Drug_or_Biological","exclude":"","order":{"payments.sum":"desc"}},"aggs":{"payments":{"stats":{"field":"Total_Amount_of_Payment_USDollars"}}}},"top_states":{"terms":{"field":"Recipient_State","exclude":"","order":{"payments.sum":"desc"},"size":50},"aggs":{"payments":{"stats":{"field":"Total_Amount_of_Payment_USDollars"}}}}}}
    </code>
</div>

<div>
    <h3>Nature of Payments to Physicians</h3>
    <code>GET /openpayments-v1-default/_search/</code> <br>
    <code>
{"size":0,"aggs":{"physician_payment_types":{"filter":{"bool":{"must":[{"exists":{"field":"Physician_Name"}}]}},"aggs":{"payment_types":{"terms":{"field":"Nature_of_Payment_or_Transfer_of_Value","size":10,"exclude":"","order":{"payments.sum":"desc"}},"aggs":{"payments":{"stats":{"field":"Total_Amount_of_Payment_USDollars"}}}}}}}}
    </code>
</div>


<div>
  <h3>Company Payment types</h3>
  <code>/_search/default/payments/_search?size=0&pretty=true&aggs=Nature_of_Payment_or_Transfer_of_Value,Total_Amount_of_Payment_USDollars</code>
</div>

</div>

{{outlet}}
