<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Open Healthcare Payments{{/link-to}}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}

<footer class="footer">
  <div class="container">
    <p class="text-muted text-center small">Open Health Care Payments Application Powered by : <img src='/assets/img/DG_logo.png' style="height: 20px"/> <p>Data Provided by CMS.Gov from Aug 08 2013 to Dec 31 2013. For more on the data please see the
       {{#link-to 'about'}}About{{/link-to}} page.</p></p>
  </div>
</footer>
