html {
  position: relative;
  min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
  margin-bottom: 50px;
}

.navbar-fixed-top{
  /*box-shadow: 2px 3px 3px #ccc;*/
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  font-weight: 300;
}

.autocomplete-container{
  position:relative;
}

.autocomplete-results{
  position:absolute;
  top: 35px;
  left: 0; right: 0;
}